/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 .simplequizblock-container {
	padding: 20px;
	text-align: center;

}
.simplequizblock-shadow {
	box-shadow: 0px 2px 10px rgb(41, 41, 41);
}

.simplequizblock-question{
	font-size: 1.2em;
}
.simplequizblock-answers {
	margin: auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	.simplequizblock-unique-answer {
		width: 200px;
		max-width: 100%;
		padding: 5px 15px;
		border-radius: 25px;
		font-size: 1em;
		margin: 5px;
		cursor: pointer;
		
	}
	.simplequizblock-good-border {
		border: solid 1px rgb(26, 129, 13);
		filter: drop-shadow(0px 2px 5px rgb(59, 59, 59));
	}
	.simplequizblock-bad-border{
		border:solid 1px rgb(173, 63, 29);
		filter: drop-shadow(0px 2px 5px rgb(59, 59, 59));
	}
	.simplequizblock-good-fill {
		border: solid 2px rgb(26, 129, 13);
		background-color: rgb(26, 129, 13);
		box-shadow: 0px 2px 10px rgb(41, 41, 41);
		color: rgb(240, 255, 255);
	}
	.simplequizblock-bad-fill{
		border:solid 2px rgb(173, 63, 29);
		background-color: rgb(173, 63, 29);
		box-shadow: 0px 2px 10px rgb(41, 41, 41);
		color: rgb(240, 255, 255);
	}
}

.simplequizblock-result {
	.simplequizblock-good-answer, .simplequizblock-bad-answer {
		margin: 10px;
		padding: 10px;
	}
	.simplequizblock-good-answer {
		border-left: 2px solid rgb(26, 129, 13);
	}
	.simplequizblock-bad-answer {
		border-left: 2px solid rgb(173,63,29);
	}
	.simplequizblock-signature {
		font-style: italic;
		font-size: 0.8em;
		margin-top: 15px;
		background-color: white;
		border-radius: 5px;
		.simplequizblock-signature-link{
			color: black;
			text-decoration: none;
		}
	}
}

